/*.div__input {
    padding: 10px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.span-articles {
    padding-left: 25px;
    display: flex;
    gap: 3px;
    font-size: 0.8rem;
    margin: 0.3rem;
}

.input-icon {
    width: 100%;
}

.input-icon span {
    position: absolute;
}



input.search {
    width: 100%;
    padding: 10px 0px 10px 10px ;
    text-align: center;
    border: 1px solid rgb(117, 117, 117);
    background-color: var(--orangepale);
    border-radius: 10px;
}

.material-symbols-outlined.loupe:hover, .material-symbols-outlined.loupe:focus {
    color: black;
}


@media screen and (min-width: 768px) {

    .div__input {
        flex-direction: row;
    }

    .span-articles {
        font-size: 1rem;
    }
}*/